.home-box{
    background: #e6e6e6 ;
    .homeNav-box{
        ul{
            li:nth-child(1){         
                a{  
                }
                .line{
                    background: #ec1e85 ;
                }
            }
        }
    }
}